body{
    background: rgb(186, 191, 196);
}
.container{
    width: 50%;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    border-style:solid;
    border-radius: 10px;
    border-color: #343A40;
    background-color: #343A40;
    box-shadow: 10px 5px 17px 1px rgba(0,0,0,0.89);
    -webkit-box-shadow: 10px 5px 17px 1px rgba(0,0,0,0.89);
    -moz-box-shadow: 10px 5px 17px 1px rgba(0,0,0,0.89);
}
.btn{
    margin-top: 20px;
}
.rodape{
    position:relative;
}
.form-group{
    color: white;
}    

